<h1>all cards <%= current_deck_name %></h1>
<h2>You have <%= pluralize(@number, 'overdue card') %></h2>

<%= render 'card_table' %>

<%= link_to 'back', root_path %><br>
<%= link_to "new card", new_card_path %>
<%= %>
