<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @deck.name %></td>
      <td><%= current_deck?(@deck)%></td>
    </tr>
  </tbody>
</table>
<%= link_to "Edit", edit_deck_path(@deck) %>
<%= link_to "Back", decks_path %>

<h3>This deck has <%= pluralize(@number, "card") %></h3>
<br>
<%= render 'cards/card_table' %>
